#chapter p {
    text-align: left;  ##Modifique aca!
    font-size: 1.2rem;
}

code.has-jax {
    -webkit-font-smoothing: antialiased;
    font: inherit;
    font-size: 100%;
    color: #515151;
    background: inherit !important;
    border: inherit !important;
}
